In [1]:
import numpy as np
import pandas as pd

In [2]:
stock_data = pd.read_csv("stock_data/final_engineered_stock_data.csv")
sec_8K_data = pd.read_csv("sec_finra_data/sec_filings/engineered_8k_filings.csv")
twitter_data = pd.read_csv("twitter_data/final_stock_social_sentiment_data.csv")

In [10]:
print("Columns in Stock Data: ", stock_data.columns)
print("Columns in SEC 8K Filings Data: ", sec_8K_data.columns)
print("Columns in Twitter Data: ", twitter_data.columns)

Columns in Stock Data:  Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Ticker', 'Return',
       'Volatility', 'Volume_Zscore', 'Return_Zscore', 'Manipulation_Flag'],
      dtype='object')
Columns in SEC 8K Filings Data:  Index(['stock', 'accession_number', 'company_name', 'filing_date',
       'report_date', 'cik', 'sic', 'items', 'body_text', 'date_lag',
       'risk_score', 'sentiment_label', 'sentiment_score', 'month',
       'event_count'],
      dtype='object')
Columns in Twitter Data:  Index(['id', 'date', 'created_at', 'stock', 'clean_text', 'sentiment_label',
       'sentiment_score'],
      dtype='object')

In [6]:
stock_data.head(2)

,Date,Open,High,Low,Close,Volume,Ticker,Return,Volatility,Volume_Zscore,Return_Zscore,Manipulation_Flag
0,2018-01-02 00:00:00-05:00,39.986349,40.489233,39.774854,40.479832,102223600,AAPL,NaN,NaN,-0.092570,NaN,0
1,2018-01-03 00:00:00-05:00,40.543277,41.017963,40.409333,40.472778,118071600,AAPL,-0.000174,NaN,0.194878,-0.070361,0

In [7]:
sec_8K_data.head(2)

,stock,accession_number,company_name,filing_date,report_date,cik,sic,items,body_text,date_lag,risk_score,sentiment_label,sentiment_score,month,event_count
0,TLRY,0001193125-21-046627,"Tilray, Inc.",2021-02-17,2021-02-17,1731348,2833,['Results of Operations and Financial Conditio...,8-K false 0001731348 0001731348 2021-02-17 202...,0,3,Neutral,0.999942,2021-02,4
1,TLRY,0001193125-18-260597,"Tilray, Inc.",2018-08-28,2018-08-28,1731348,2833,['Results of Operations and Financial Conditio...,8-K UNITED STATES SECURITIES AND EXCHANGE COMM...,0,3,Neutral,0.999974,2018-08,1

In [8]:
twitter_data.head(2)

,id,date,created_at,stock,clean_text,sentiment_label,sentiment_score
0,13,2020-04-09,2020-04-09 23:56:58+00:00,AAPL,RT : 📽️ panel assesses the big questions $AAPL...,neutral,0.941471
1,14,2020-04-09,2020-04-09 23:56:51+00:00,AAPL;TSLA;TLRY;GME,$UMRX bouncing. EXTREMELY OVERSOLD 💸 $DECN $OP...,neutral,0.646453